# Developer Folders
dist/
build/
node_modules/

#Test Folders
mcp-db/tests/db/seeds/fixtures
mcp-db/coverage/
mcp-server/coverage/

# Logs and temp files
*.log
tmp/

# Environment variables
.env
.env.*

# IDE specific files
.idea/
.vscode/

# System files
.DS_Store