# GIT Files
.git

#Build Files
dist

# Dependencies
node_modules/

# Logs and temp files
*.log
tmp/

# Environment variables
.env
.env.*

# IDE specific files
.idea/
.vscode/

# System files
.DS_Store